{% extends 'templates/app.twig' %}

{% block content %}
	
	<div class="error_text">You are trying to illegally sneak into system and do some bad things. Get the fuck out here and be a good boy!</div>
	<div class="error_img"><img src="{{ base_url() }}/public/img/tenor.gif"></div>

{% endblock %}