{% extends 'templates/app.twig' %}

{% block content %}

<div id="notification">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a v-bind:class="wached" href="javascript:void(0);" @click="switchTabs">Who wached my profile</a>
    </li>
    <li class="nav-item">
      <a v-bind:class="browsing" href="javascript:void(0);" @click="switchTabs">Browsing history</a>
    </li>
    <li class="nav-item">
      <a v-bind:class="liked" href="javascript:void(0);" @click="switchTabs">Who liked me</a>
    </li>
    <li class="nav-item">
      <a v-bind:class="likes" href="javascript:void(0);" @click="switchTabs">My likes</a>
    </li>
  </ul>

  <form action="{{ path_for('user.notifications') }}" method="post">
    <input class="btn btn-lg btn-primary btn-block" value="Delete" type="submit">
    <table class="table table-borderless">
      <tbody id="data">
      </tbody>
    </table>
  </form>

</div>

{% endblock %}
