<section class="contacts_wrapper">
	<div class="footer_contacts">
		<p>093-445-03-18</p>
		<p>somefellavs@gmail.com</p>
		<p>vsyveniu@student.unit.ua</p>
	</div>
	<div class="footer_quality">
		<img src="{{base_url()}}/public/img/kisspng_quality.png">
		<img src="{{base_url()}}/public/img/check.png">
		<img src="{{base_url()}}/public/img/quality_control.png">
	</div>
</section>	
	<section class="footer_author">
		<p>vsyveniu ichebota</p>
	</section>